.skills {
  min-height: 50vh;
  padding: 6rem 8rem;
  padding-top: 1rem;
  box-sizing: border-box;
  /* display: flex;
  justify-content: start; */
}

@media only screen and (max-width: 1045px) {
  .skills {
    padding: 2rem;
    min-height: inherit;
    justify-content: center;
  }
}
.text-skill {
  font-size: 1.2rem;
  text-align: left;
  opacity: 0;
  display: flex;
  float: left;
  width: 50%;
  padding: 1rem;
  padding-left: 8rem;
}
